nav {
    height: 0;
    width: 100%;
    background-color: rgba(3, 22, 52, 1);
    display: flex;
    justify-content: flex-end;
    font-family: "Lato", sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
}

.pages {
    position: fixed;
    z-index: 3;
    height: 400px;
    top: 68px;
    right: -4px;
    background-color: rgb(16, 46, 95);
    overflow-x: hidden;
    transition: 0.4s;
    border: 2px solid rgba(3, 22, 52, 1);
    border-radius: 7px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0;
}

nav a {
    font-size: 25px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    padding: 16px 30px;  
    display: block;  
    overflow: hidden;
}

nav a:hover {
    background-color: #E8DDCB;
    color: rgba(3, 22, 52, 1);
    transition: 0.5s;
}

.openbtn {
    height: 80px;
    font-size: 35px;
    cursor: pointer;
    background-color: rgba(3, 22, 52, 1);
    color: white;
    padding: 10px 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}