
.form-container {
    min-height: 100vh;
    position: relative;
}

.form-wrapper {
    background-image: url('https://images.unsplash.com/photo-1598620617377-3bfb505b4384?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    max-height: 100%;
    max-width: 100%;
    height: 120vh;
    position: relative;
    top: 0;
    left: 0;
    opacity: 0.9;
    filter: blur(2px);
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}

.form-title-text {
    margin: 0 auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2; 
    width: 60%;
    padding: 20px;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -65%);
    left: 50%;
}

.input-form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    padding: 10px 0;
    border-radius: 5px;
}

.input {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2; 
    padding: 10px 20px 15px 20px;
    margin: 10px;
}

.input-author, .input-pages {
    border-bottom: none;
}
.input-author {
    border-top: none;
}

input[type=text] {
    width: 90%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid lightgrey; 
    border-radius: 4px;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid black;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

textarea {
    width: 90%;
    margin: 8px 0;
    border: 3px solid lightgrey;
    border-radius: 4px;
    outline: none;
}

textarea:focus {
    border: 3px solid black;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

label {
    display: flex;
    align-self: flex-start;
    margin-left: 10px;
    font-size: 20px;
}

.add-button {
    background-color: rgba(3, 22, 52, 1);
    border: rgba(3, 22, 52, 1) 2px solid;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.add-button:hover {
    border: white 2px solid;
    cursor: pointer;
}

@media all and (max-width: 600px) {
    .input-form {
        width: 100%
    }
    .input {
        padding: 10px;
        margin: 5px;
    }
    form {
        transform: translate(-50%, -75%);
    }
}

@media all and (max-height: 1060px) {
    .input-form{
        width: 90%;
    }
    form {
        top: 60%;
    }
}

@media all and (max-height: 800px) {
    form {
        top: 70%;
    }
}

@media all and (max-height: 600px) {
    form {
        top: 90%;
    }
}

/* @media screen and (max-width: 1024px) {
    .form-wrapper {
        left: 50%;
        margin-left: -50%;
    }
} */