.app-title-container {
  font-family: "Tienne", serif;
  height: 100vh;
  position: relative;
}

.app-background {
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1453&q=80");
  opacity: 0.8;
  filter: blur(3px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-title-text {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.app-title {
  font-size: 50px;
  margin: 0;
}

.info-wrapper {
  width: fit-content;
}

.app-info {
  letter-spacing: 0.15em;
  overflow: hidden;
  border-right: 2px solid orange;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(30, end), blink-caret 0.7s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* BOOK ANIMATION COURTESY OF https://freefrontend.com/css-book-effects/ & https://codepen.io/wwwebneko/pen/XjOZZK */

.book {
  position: absolute;
  top: 240%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 18.5rem;
  height: 12.5rem;
  perspective: 70rem;
}
.cover {
  background-color: rgba(3, 22, 52, 1);
  transform: rotateY(0deg);
  width: 9.25rem;
  height: 12.5rem;
  left: 0;
}
.page {
  top: 0.25rem;
  left: 0.25rem;
  background-color: #e9e6c4;
  transform: rotateY(0deg);
  width: 9rem;
  height: 12rem;
  text-align: center;
  font-size: 8px;
  color: black;
  font-family: monospace;
}
.page::after {
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(0, 100%);
  content: "Begin";
  font-size: 30px;
  padding-bottom: 1rem;
}
.cover,
.page {
  position: absolute;
  padding: 1rem;
  transform-origin: 100% 0;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.cover.turn {
  animation: bookCover 3s forwards;
}
.page.turn {
  animation: bookOpen 3s forwards;
}
.page:nth-of-type(1) {
  animation-delay: 0.05s;
}
.page:nth-of-type(2) {
  animation-delay: 0.33s;
}
.page:nth-of-type(3) {
  animation-delay: 0.66s;
}
.page:nth-of-type(4) {
  animation: bookOpen150deg 3s forwards;
  animation-delay: 0.99s;
}
.page:nth-of-type(5) {
  animation: bookOpen30deg 3s forwards;
  animation-delay: 1.2s;
}
.page:nth-of-type(6) {
  animation: bookOpen55deg 3s forwards;
  animation-delay: 1.25s;
}
@keyframes bookOpen {
  30% {
    z-index: 999;
  }
  100% {
    transform: rotateY(180deg);
    z-index: 999;
  }
}
@keyframes bookCover {
  30% {
    z-index: 999;
  }
  100% {
    transform: rotateY(180deg);
    z-index: 1;
  }
}
@keyframes bookOpen150deg {
  30% {
    z-index: 999;
  }
  100% {
    transform: rotateY(150deg);
    z-index: 999;
  }
}
@keyframes bookOpen55deg {
  30% {
    z-index: 999;
  }
  100% {
    transform: rotateY(55deg);
    z-index: 999;
  }
}
@keyframes bookOpen30deg {
  50% {
    z-index: 999;
  }
  100% {
    transform: rotateY(30deg);
    z-index: 999;
  }
}

@media all and (max-width: 600px) {
  .book {
    top: 220%;
    width: 16.5rem;
    height: 10.5rem;
    left: 55%;
  }
  .cover {
    width: 7.25rem;
    height: 10.5rem;
  }
  .page {
    width: 7rem;
    height: 10rem;
  }
  .app-title-text {
    width: 80%;
    top: 30%;
  }
}
