.read-container {
    padding: 10px 20px;
    background: #eaeaea;
    max-width: 70%;
    height: 200px;
    margin: 20px auto;
}

.paragraph {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-align: justify;
    
}

.top-wrapper {
    display: flex;
    justify-content: space-between;
}

.title-author-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.title {
    font-size: 20px;
    margin-bottom: -13px;
}

.author {
    font-style: italic;
}

.buttons-wrapper {
    display: flex;
    align-items: center;
}

.readmore-button, .edit-button {
	box-shadow:inset 0px 1px 0px 0px #3c9cfc;
	background:linear-gradient(to bottom, #0271ad 5%, rgb(3,22,52) 100%);
	background-color:#0271ad;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:9px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
    margin: 0 5px;
}
.readmore-button:hover, .edit-button:hover {
	background:linear-gradient(to bottom, #002d4d 5%, #0271ad 100%);
	background-color:#002d4d;
}

